/*
style.css
---------
*/

@font-face {
    font-family: 'actionman_regular_macroman';
    src: url('actionman_regular_macroman.eot');
    src: url('actionman_regular_macroman.eot?iefix') format('eot'), url('actionman_regular_macroman.woff') format('woff'), url('actionman_regular_macroman.ttf') format('truetype'), url('actionman_regular_macroman.svg#webfont') format('svg');
}

@font-face {
    font-family: 'underwood_champion-webfont';
    src: url('underwood_champion-webfont.woff');
}

html,
body {
    font-family: underwood_champion-webfont, actionman_regular_macroman, Candara, "Comic Sans MS", Calibri, Verdana, "Tempus Sans ITC", "Trebuchet MS", Helvetica, Arial, serif, sans-serif;
    color: Ivory;
    background-color: darkslategrey;
    /* 
    white #FFFFFF
    whitesmoke #F5F5F5
    gainsboro #DCDCDC
    lightgrey #D3D3D3
    silver #C0C0C0
    DarkGrey #A9A9A9
    Grey #808080
    LightSlateGrey #778899 /!\
    SlateGrey #708090 /!\
    DimGrey #696969
    DarkSlateGrey #2F4F4F 
    black #000000
    */
    /* AliceBlue #F0F8FF 
    Blue #0000FF 
    DarkBlue #00008B 
    DarkSlateBlue #483D8B 
    DeepSkyBlue #00BFFF 
    DodgerBlue #1E90FF 
    LightBlue #ADD8E6 
    LightSkyBlue #87CEFA 
    MediumBlue #0000CD 
    MediumSlateBlue #7B68EE 
    MidnightBlue #191970 
    PowderBlue #B0E0E6 
    RoyalBlue #4169E1 
    SkyBlue #87CEEB 
    SlateBlue #6A5ACD */
    /* AntiqueWhite 	#FAEBD7
    FloralWhite 	#FFFAF0
    GhostWhite 	#F8F8FF
    NavajoWhite 	#FFDEAD
    White 	#FFFFFF
    WhiteSmoke 	#F5F5F5 
    Snow 	#FFFAFA 
    SeaShell 	#FFF5EE 
    OldLace 	#FDF5E6 
    MintCream 	#F5FFFA 
    Ivory 	#FFFFF0 
    HoneyDew 	#F0FFF0 
    Cornsilk 	#FFF8DC
    BlanchedAlmond 	#FFEBCD
    Beige 	#F5F5DC
    Bisque 	#FFE4C4
    Aquamarine 	#7FFFD4 */
    /*[320x200] / [320x240] / [480x320] iPhone 1 / [960x640]  iPhone 3G*/
    /* width: 320; 640; 768; 900; 960; 1024; 1080; 1280; 1440; 1920; 2048; 2560; 3440; 3840; 4096 */
    min-width: 320px;
    min-height: 100%;
    padding: 0;
    margin: 0;
    border: solid ivory;
}

header,
footer {
    font-size: large;
    background-color: slategrey;
    min-height: 128px;
    max-height: 192px;
    border: solid ivory;
}

.page_logo {
    height: 40%;
    max-height: 96px;
    float: left;
    border: solid ivory;
}

h1 {
    font-size: xx-large;
    border: solid ivory;
}

h2 {
    color: darksalmon;
    font-size: x-large;
    border: solid ivory;
}

.header_description {
    font-style: italic;
    font-size: large;
    clear: both;
    border: solid ivory;
}

.home_avatar {
    max-height: 128px;
}

.log_in {
    width: 50%;
    min-width: 400px;
    /* Marge intérieure de 12px */
    padding: 12px;
    margin: auto;
    margin-bottom: 12px;
    word-wrap: break-word;
    border: 1px none;
    border-radius: 12px;
    overflow: auto;
    background-color: LightSlateGrey;
}

#app_section {
    background-color: black;
    /* width: 100%; */
    /* width: 320; 640; 768; 900; 960; 1024; 1080; 1280; 1920 */
    min-width: 320px;
    max-width: 1080px;
    /* Firefox */
    height: -moz-calc(100% - 256px);
    /* Chrome, Safari */
    height: -webkit-calc(100% - 256px);
    /* IE9+ and future browsers */
    height: calc(100% - 256px);
    min-height: 240px;
    margin: auto;
    border: solid ivory;
}

.introduction* {
    color: darkorange;
    border: solid ivory;
}

.app_div {
    /* width: 62%; */
    /* min-width: 400px;
    max-width: 2560px; */
    /* Marge intérieure de 12px */
    padding: 12px;
    /* margin: auto; */
    /* margin-bottom: 12px; */
    word-wrap: break-word;
    border: 1px;
    border-radius: 12px;
    overflow: auto;
    /* background-color: darkSlateGrey; */
    border: solid ivory;
}

#dialog {
    /* height: 60%; */
    min-height: 200px;
    max-height: 600px;
    /* text-align: justify;*/
    border: solid ivory;
}

#user_input {
    /* height: 24px; */
    text-align: right;
    /* padding-top: 12px; */
    border: solid ivory;
}

#user_input_form {
    /* width: 100%; */
    border: 1px solid black;
}

.query_style {
    color: darkblue;
    text-align: right;
    border: 1px solid blue;
}

.reply_style {
    color: ivory;
    text-align: left;
    border: 1px solid salmon;
}

.loader {
    align-self: right;
    /* to define */
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 24px;
    height: 24px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    /* Safari */
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}