/*
style.css
---------
*/

html {
    font Arial,
    Helvetica,
    sans-serif;
    color: white
}

header,
footer {
    background-color: darkslategrey;
}

body {
    background-color: black;
}

#app_section {
    background-color: chocolate;
}

.introduction* {
    color: darkorange;
}

#zheader_2 {
    color: darksalmon;
}

.app_div {
    width: 50%;
    min-width: 400px;
    /* Marge intérieure de 12px */
    padding: 12px;
    margin: auto;
    margin-bottom: 12px;
    word-wrap: break-word;
    border: 1px solid black;
    border-radius: 7px;
    overflow: auto;
    background-color: lightslategrey;
}

#dialog {
    min-height: 200px;
    max-height: 600px;
    /* text-align: justify;*/
}

#user_input {
    /* height: 24px; */
    text-align: right;
    border: 1px solid yellow;
    /* padding-top: 12px; */
}

#user_input_form {
    width: 100%;
    border: 1px solid black;
}

.query_style {
    color: darkblue;
    text-align: right;
    border: 1px solid blue;
}

.reply_style {
    color: salmon;
    text-align: left;
    border: 1px solid salmon;
}