/*
style.css
---------
*/

html {
    font: Arial, Helvetica, Calibri, Candara, sans-serif;
    color: Ivory
}

header,
footer {
    background-color: SlateGrey;
}

body {
    background-color: DarkSlateGrey;
    /* LightGrey 	#D3D3D3
    DarkGrey 	#A9A9A9
    Grey 	#808080
    LightSlateGrey 	#778899
    SlateGrey 	#708090
    DimGrey 	#696969
    DarkSlateGrey 	#2F4F4F */
    /* AliceBlue #F0F8FF 
    Blue #0000FF 
    DarkBlue #00008B 
    DarkSlateBlue #483D8B 
    DeepSkyBlue #00BFFF 
    DodgerBlue #1E90FF 
    LightBlue #ADD8E6 
    LightSkyBlue #87CEFA 
    MediumBlue #0000CD 
    MediumSlateBlue #7B68EE 
    MidnightBlue #191970 
    PowderBlue #B0E0E6 
    RoyalBlue #4169E1 
    SkyBlue #87CEEB 
    SlateBlue #6A5ACD */
    /* AntiqueWhite 	#FAEBD7
    FloralWhite 	#FFFAF0
    GhostWhite 	#F8F8FF
    NavajoWhite 	#FFDEAD
    White 	#FFFFFF
    WhiteSmoke 	#F5F5F5 
    Snow 	#FFFAFA 
    SeaShell 	#FFF5EE 
    OldLace 	#FDF5E6 
    MintCream 	#F5FFFA 
    Ivory 	#FFFFF0 
    HoneyDew 	#F0FFF0 
    Cornsilk 	#FFF8DC
    BlanchedAlmond 	#FFEBCD
    Beige 	#F5F5DC
    Bisque 	#FFE4C4
    Aquamarine 	#7FFFD4 */
}

.page_logo {
    height: 50%;
    max-height: 128px;
}

.home_avatar {
    max-height: 128px;
}

.log_in {
    width: 50%;
    min-width: 400px;
    /* Marge intérieure de 12px */
    padding: 12px;
    margin: auto;
    margin-bottom: 12px;
    word-wrap: break-word;
    border: 1px none;
    border-radius: 7px;
    overflow: auto;
    background-color: LightSlateGrey;
}

#app_section {
    background-color: black;
}

.introduction* {
    color: darkorange;
}

#zheader_2 {
    color: darksalmon;
}

.app_div {
    width: 62%;
    min-width: 400px;
    max-width: 2560px;
    /* Marge intérieure de 12px */
    padding: 12px;
    margin: auto;
    margin-bottom: 12px;
    word-wrap: break-word;
    border: 1px;
    border-radius: 7px;
    overflow: auto;
    background-color: darkSlateGrey;
}

#dialog {
    height: 60%;
    min-height: 200px;
    max-height: 600px;
    /* text-align: justify;*/
}

#user_input {
    /* height: 24px; */
    text-align: right;
    /* padding-top: 12px; */
}

#user_input_form {
    width: 100%;
    border: 1px solid black;
}

.query_style {
    color: darkblue;
    text-align: right;
    border: 1px solid blue;
}

.reply_style {
    color: ivory;
    text-align: left;
    border: 1px solid salmon;
}