<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>ZBot</title>

</head>

<body>

    {% block myblock %}{% endblock %}

    <script src="https://kit.fontawesome.com/72e8b31e79.js" crossorigin="anonymous"></script>

    <footer>
        <p>Mike Tniazuo <br/>
            <a href="https://www.linkedin.com/in/mickaël-toussaint-923004135" target="_blank">
                <img src={{ url_for( 'static', filename='img/linkedin_32.png' ) }} alt="LinkedIn" title="My public LinkedIn profile" /></a>
            <a href="https://www.linkedin.com/in/mickaël-toussaint-923004135" target="_blank">
                <img src={{ url_for( 'static', filename='img/linkedin_32.png' ) }} alt="LinkedIn" title="My public LinkedIn profile" /></a>
            <a href="https://www.linkedin.com/in/mickaël-toussaint-923004135" target="_blank">
                <i class="fab fa-linkedin-in"></i></a>
            <!-- <a href="https://www.linkedin.com/in/mickaël-toussaint-923004135" target="_blank">
                <i class="fab fa-linkedin"></i></a> -->
            <!-- <a href="https://www.linkedin.com/in/mickaël-toussaint-923004135" target="_blank">
                <i class="fab fa-github-square"></i></a> -->
            <a href="https://www.linkedin.com/in/mickaël-toussaint-923004135" target="_blank">
                <i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/mickaël-toussaint-923004135" target="_blank">
                <i class="fas fa-at"></i></a>
            <!-- <a href="https://www.linkedin.com/in/mickaël-toussaint-923004135" target="_blank">
                <i class="fas fa-envelope-square"></i></a> -->
            <a href="https://www.linkedin.com/in/mickaël-toussaint-923004135" target="_blank">
                <i class="fas fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/mickaël-toussaint-923004135" target="_blank">
                <i class="fas fa-robot"></i></a>
            <a href="https://www.linkedin.com/in/mickaël-toussaint-923004135" target="_blank">
                <i class="fas fa-paper-plane"></i></a>
            <a href="https://www.linkedin.com/in/mickaël-toussaint-923004135" target="_blank">
                <i class="fas fa-user"></i></a>
            <!-- <a href="https://www.linkedin.com/in/mickaël-toussaint-923004135" target="_blank">
                <i class="fas fa-user-circle"></i></a> -->

        </p>
    </footer>

</body>

</html>