<header>
    <h1>{% if isApp: %}
        <a href="{{ url_for('index') }}"><img class='page_logo' src={{ url_for( 'static', filename='img/grand_father_lineal_color_2369096.png' ) }} alt="GrandPy Bot Pics" title="My name is Py, GrandPy ;) !" /></a>{% endif %} ZGrandPy Bot</h1>
    <h2>Les récits de papy robot</h2>
    <p class="header_description">Viens t'assoir et discuter un peu avec <strong>Grand-Py</strong><br/> Quelle anecdote va-t-il encore nous raconter aujourd'hui?</p>

    {% if user_name: %}
    <p>Hello {{user_name}} :D</p>
    {% endif %}
</header>