<header>
    <h1 id="zheader_1"> {% if isApp: %} <img class='page_logo' src={{ url_for( 'static', filename='img/grand_father_lineal_color_2369096.png' ) }} alt="GrandPy Bot Pics" title="My name is Py, GrandPy ;) !" />{% endif %} ZGrandPy Bot</h1>
    <h2 id="zheader_2">Les récits de papy robot</h2>

    {% if user_name: %}
    <p>Hello {{user_name}} :D</p>
    {% endif %} {% if isApp: %}
    <p> Go back <a href="{{ url_for('index') }}"><i class="fas fa-home"></i></a> </p>
    {% endif %}
</header>