{% extends 'base.html' %} {% block myblock %} {% include 'header.html' %}

<section id="section_01">

    <p class="introduction">
        <img src={{ url_for( 'static', filename='img/grand_father_lineal_color_2369096.png' ) }} alt="GrandPy Bot Pics" title="My name is Py, GrandPy ;) !" /> Bienvenu <em>chaton</em> ! Je suis <strong>content</strong> de te voir aujourd'hui :)
    </p>

    <p><br/> Veux-tu passer un moment sympa avec moi ?
    </p>

</section>

<section id="inscription">
    <h3 id="inscription">Inscription</h3>

    <div class="log_in">
        <h4>Facebook</h4>
        <p>Sign in</p>
    </div>

    <p>or</p>

    <div class="log_in">
        <h4>Présentation</h4>
        <p> nom: <br/> genre: <br/> <a href="{{ url_for('zapp') }}">C'est par ici</a>
        </p>
    </div>

</section>

{% endblock %}